.timesheet_label,
.timesheet_items,
.timesheet_timeline,
.timesheet_timeline_hour,
.timesheet_timeline_line,
.timesheet_timeline_notch {
  position: absolute;
}

.timesheet_label,
.timesheet_items,
.timesheet_timeline {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #000;
  vertical-align: middle;
  text-align: left;
}

.timesheet_label {
  left: 33px; top: 0px; right: 0px; height: 16px;
  font-size: 15px;
}

.timesheet_timeline {
  left: 0px; top: 0px; right: 0px; bottom: 0px;
}

.timesheet_timeline_hour {
  left: 0px; width: 26px; text-align: right; height: 14px;
}

.timesheet_timeline_line {
  left: 31px; right: 3px; height: 1px; background-color: #bbb;
}
.timesheet_timeline_notch {
  left: 31px; right: 3px; height: 1px; background-color: #ddd;
}

.timesheet_items {
  left: 29px; top: 19px; right: 1px; bottom: 11px;
  border: 1px outset #ccc;
  border-radius: 3px;
}

.nohours .timesheet_timeline_notch,
.nohours .timesheet_timeline_line {
  left: 2px;
}
.nohours .timesheet_timeline_hour {
  display: none;
}
.nohours .timesheet_label {
  left: 4px;
}
.nohours .timesheet_items {
  left: 0px;
}
