 
.helmiTheme .progressindicator {
  cursor: pointer;
  position: absolute;
  left: 0px; right: 0px; bottom: 0px; top: 0px;
  display: block;
  padding: 0;
} 
.helmiTheme .progressindicator .bg {
  position: absolute;
  left: 0px; right: 0px; bottom: 0px; top: 0px;
  border: 1px solid #BCBDBE;
  background-color: #f3f3f3;
} 
.helmiTheme .progressindicator .mark {
  position: absolute;
  left: 0px; top: 1px;
  width: 100%; height: 100%;
  background-image: url('#{this.getThemeGfxPath()}progressmark.png');
} 

.enabled .progressindicator .bg {
  background-color: #fff;
}
.active > .progressindicator .bg {
  background-color: #eee;
}
.disabled .progressindicator {
  opacity: 0.75;
}