.helmiTheme .checkbox {
  cursor: pointer;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  text-align: center;
  display: block;
  white-space: nowrap;
  width: auto;
  padding: 0;
}

.helmiTheme .checkbox .label {
  position: absolute;
  left: 20px; top: 0; bottom: 0;
  padding: 0;
}

.helmiTheme .checkbox .icon {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  width: 17px;
  height: 15px;
  background-repeat: no-repeat;
}

.helmiTheme .checkbox .on {
  background-image: url('#{this.getThemeGfxFile('checkbox_on.gif')}');
}

.helmiTheme .checkbox .off {
  background-image: url('#{this.getThemeGfxFile('checkbox_off.gif')}');
}

.disabled .checkbox {
  opacity: 0.65;
}

