.tablabel {
  cursor: pointer;
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  text-align: center;
  display: block;
  white-space: nowrap;
  width: auto;
  padding: 0;
}
.tablabel #border {
  position: absolute;
  background-color: #ccc;
  line-height: 1px;
}
.tablabel .state {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 0px;
  border: 1px solid #fff;
  border-bottom-width: 0px;
  line-height: 0px;
  background-color: #f0f0f0;
}

.enabled .tablabel .state {
  background-color: #fff;
}
.active > .tablabel .state {
  background-color: #eee;
}

.tablabel .bg {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  padding: 1px;
}
.tablabel .border-n {
  right: 1px; height: 1px;
  left: 1px; top: 0px;
}
.tablabel .border-s {
  right: 1px; bottom: 0px;
  left: 1px; height: 1px;
}
.tablabel .border-e {
  width: 1px; bottom: 1px;
  left: 0px; top: 1px;
}
.tablabel .border-w {
  right: 0px; bottom: 1px;
  width: 1px; top: 1px;
}
.tablabel .label {
  position: absolute;
  left: 1px; right: 1px;
  vertical-align: middle;
  border: 0;
  background-color: transparent;
  font-size: 11px;
  font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
  color: #666;
}

.enabled .tablabel .label {
  color: #444;
}
.active > .tablabel .label {
  color: #000;
}
.disabled .tablabel {
  opacity: 0.75;
}

.tablabel .highlight {
  position: absolute;
  background-color: #fff;
  left: 1px; right: 1px;
  top: 0px; bottom: 0px;
}
.tablabel .highlight .border_top {
  position:  absolute;
  left: 0px; right: 0px; top: 0px; height: 1px;
  background-color: #fc9;
}
.tablabel .highlight .px_bottomleft {
  position:  absolute;
  width: 1px; right: -1px; bottom: 0px; height: 1px;
  background-color: #fff;
}

