.helmiTheme .passwordcontrol {
  cursor: pointer;
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  text-align: center;
  display: block;
  white-space: nowrap;
  width: auto;
  padding: none;
}
.helmiTheme .passwordcontrol .state {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  border: 1px solid #fff;
  line-height: 0px;
  background-color: #f0f0f0;
}
.helmiTheme .passwordcontrol #corner {
  position: absolute; background-color: #fff;
  line-height: 1px; width:1px; height: 1px;
}
.helmiTheme .passwordcontrol .bg {
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  padding: 1px;
  border: 1px solid #ccc;
}
.enabled .passwordcontrol #border {
  background-color: #aaa;
}
.active .passwordcontrol #border {
  background-color: #fb9;
}
.helmiTheme .passwordcontrol .corner {
  position: absolute; background-color: #fff;
  line-height: 1px; width:1px; height: 1px;
}
.helmiTheme .passwordcontrol .corner-nw {
  left: 0px; top: 0px;
}
.helmiTheme .passwordcontrol .corner-ne {
  right: 0px; top: 0px;
}
.helmiTheme .passwordcontrol .corner-sw {
  left: 0px; bottom: 0px;
}
.helmiTheme .passwordcontrol .corner-se {
  right: 0px; bottom: 0px;
}
.helmiTheme .passwordcontrol .vertical-middle {
  position:absolute;
  left:0px;top:50%;right:0px;
}
.helmiTheme .passwordcontrol input {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  line-height: 13px; vertical-align: middle; height: 15px;
  border: 0;
  padding-left: 4px; padding-right: 4px;
  background-color: transparent;
  font-size: 11px;
  font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
  color: #666;
  
  /* This fixes an odd issue with MSIE7 and transparent element's click through effect. (Hidden from other browsers.) */
  #{is_ie7?"background-image: url('"+ this.getThemeGfxPath() + "blank.gif');":""}
}

.disabled .passwordcontrol {
  opacity: 0.75;
}
