.helmiTheme-stepper {
  cursor: pointer;
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  text-align: center;
  display: block;
  white-space: nowrap;
  width: auto;
  padding: none;
}
.helmiTheme-stepper .upperdiv {
  position: absolute; 
  left: 1px; top: 1px; right: 1px;
}
.helmiTheme-stepper .lowerdiv {
  position: absolute; 
  left: 1px; right: 1px; bottom: 1px;
}
.helmiTheme-stepper .middlediv {
  position: absolute; 
  left: 1px; right: 1px;
  height: 1px;
}
.helmiTheme-stepper .state {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  border: 1px solid #fff;
  line-height: 0px;
  background-color: #f0f0f0;
}

.helmiTheme-stepper .bg {
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  padding: 1px;
  border: 1px solid #ccc;
}