.helmiTheme-windowbar {
  cursor: move;
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  text-align: center;
  display: block;
  white-space: nowrap;
  width: auto;
  padding: none;
}
.helmiTheme-windowbar #border {
  position: absolute;
  background-color: #ccc;
  line-height: 1px;
}
.helmiTheme-windowbar .state {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 0px;
  border: 1px solid #fff;
  border-bottom-width: 0px;
  line-height: 0px;
  background-color: #f0f0f0;
}
.helmiTheme-windowbar:hover .state {
  background-color: #fff;
}
.helmiTheme-windowbar:active .state {
  background-color: #eee;
}
.helmiTheme-windowbar .bg {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  padding: 1px;
}
.helmiTheme-windowbar .border-n {
  right: 1px; height: 1px;
  left: 1px; top: 0px;
}
.helmiTheme-windowbar .border-s {
  right: 1px; bottom: 0px;
  left: 1px; height: 1px;
}
.helmiTheme-windowbar .border-e {
  width: 1px; bottom: 1px;
  left: 0px; top: 1px;
}
.helmiTheme-windowbar .border-w {
  right: 0px; bottom: 1px;
  width: 1px; top: 1px;
}
.helmiTheme-windowbar .hilight {
  position: absolute;
  background-color: #fff;
  left: 1px; right: 1px;
  top: 0px; bottom: 0px;
}
.helmiTheme-windowbar .hilight .border_top {
  position:  absolute;
  left: 0px; right: 0px; top: 0px; height: 1px;
  background-color: #fc9;
}
.helmiTheme-windowbar .hilight .px_bottomleft {
  position:  absolute;
  width: 1px; right: -1px; bottom: 0px; height: 1px;
  background-color: #fff;
}
