.hslider_track_left,
.hslider_track_right,
.hslider_track {
  position: absolute;
  height: 7px; top: 7px;
  font-size: 0px;
  background-image: #{this.getCssFilePath('hslider_tracks.png')};
}

.hslider_track_left {
  left: 10px; width: 4px;
  background-position: 0px 0px;
}

.hslider_track_right {
  right: 10px; width: 4px;
  background-position: -4px 0px;
}

.hslider_track {
  left: 14px; right: 14px;
  background-position: 0px -14px;
}

.disabled .hslider_track_left {
  background-position: 0px -7px;
}

.disabled .hslider_track_right {
  background-position: -4px -7px;
}

.disabled .hslider_track {
  background-position: 0px -21px;
}

.hslider_thumb {
  position: absolute;
  top: 0px; height: 21px; width: 21px;
  font-size: 0px;
  background-position: 0px 0px;
  background-image: #{this.getCssFilePath('slider_thumbs.png')};
}

.hslider_thumb:active {
  background-position: 0px -22px;
}

.disabled .hslider_thumb {
  background-position: 0px -44px;
}

.hslider_thumb_n,
.hslider_thumb_s,
.hslider_thumb_e,
.hslider_thumb_w {
  position: absolute;
  top: 0px; height: 21px; width: 21px;
  background-image: #{this.getCssFilePath('slider_thumbs.png')};
}

.hslider_thumb_e,
.hslider_thumb_w {
  left: 0px;
}

.hslider_thumb_n {
 background-position: -22px 0px;
}
.hslider_thumb_n:active {
 background-position: -22px -22px;
}
.disabled .hslider_thumb_n {
 background-position: -22px -44px;
}

.hslider_thumb_s {
 background-position: -44px 0px;
}
.hslider_thumb_s:active {
 background-position: -44px -22px;
}
.disabled .hslider_thumb_s {
 background-position: -44px -44px;
}

.hslider_thumb_w {
 background-position: -66px 0px;
}
.hslider_thumb_w:active {
 background-position: -66px -22px;
}
.disabled .hslider_thumb_w {
 background-position: -66px -44px;
}

.hslider_thumb_e {
 background-position: -88px 0px;
}
.hslider_thumb_e:active {
 background-position: -88px -22px;
}
.disabled .hslider_thumb_e {
 background-position: -88px -44px;
}



