.slider_track_left,
.slider_track_right,
.slider_track {
  position: absolute;
  height: 7px; top: 7px;
  font-size: 0;
  cursor: col-resize;
  background-image: #{this.getCssFilePath('hslider_tracks.png')};
}

.slider_track_left {
  left: 10px; width: 4px;
  background-position: 0 0;
}

.slider_track_right {
  right: 10px; width: 4px;
  background-position: -4px 0;
}

.slider_track {
  left: 14px; right: 14px;
  background-position: 0 -14px;
  cursor: col-resize;
}

.disabled .slider_track_left {
  background-position: 0 -7px;
}

.disabled .slider_track_right {
  background-position: -4px -7px;
}

.disabled .slider_track {
  background-position: 0 -21px;
}

.slider_thumb {
  position: absolute;
  top: 0; height: 21px; width: 21px;
  font-size: 0;
  cursor: col-resize;
  background-position: 0 0;
  background-image: #{this.getCssFilePath('slider_thumbs.png')};
}

.slider_thumb:active {
  background-position: 0 -22px;
}

.disabled .slider_thumb {
  background-position: 0 -44px;
}

.slider_thumb_n,
.slider_thumb_s {
  position: absolute;
  cursor: col-resize;
  top: 0; height: 21px; width: 21px;
  background-image: #{this.getCssFilePath('slider_thumbs.png')};
}

.slider_thumb_n {
 background-position: -22px 0;
}
.slider_thumb_n:active {
 background-position: -22px -22px;
}
.disabled .slider_thumb_n {
 background-position: -22px -44px;
}

.slider_thumb_s {
 background-position: -44px 0;
}
.slider_thumb_s:active {
 background-position: -44px -22px;
}
.disabled .slider_thumb_s {
 background-position: -44px -44px;
}


