
.default .searchfield_input {
  position: absolute;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #000;
  background-color: transparent;
  vertical-align: middle;
  border: 0px;
  left: 18px; top: 0px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  #{(BROWSER_TYPE.firefox||BROWSER_TYPE.ie7||BROWSER_TYPE.ie8||BROWSER_TYPE.ie9||BROWSER_TYPE.opera)?'padding-left:2px;width:85% !important;height:90% !important;':BROWSER_TYPE.ie6?'right:3px;height:16px;':'padding:2px;padding-top:4px;right:3px;height:22px;width:auto;'}
}

.default .searchfield_input:focus {
  outline-color: transparent;
  outline-style: none;
}

.default .disabled .searchfield_input {
  color: #ccc;
}

.default .searchfield_input_parent {
  position: absolute;
  #{(BROWSER_TYPE.firefox||BROWSER_TYPE.ie7||BROWSER_TYPE.ie8||BROWSER_TYPE.ie9||BROWSER_TYPE.opera)?'left:0;padding-left:1px;top:0;right:4px;bottom:0;':BROWSER_TYPE.ie6?'left:2px;top:1px;right:1px;height:20px;':'left:-2px;top:-2px;right:-2px;height:24px;'}
}

.default .searchfield_fade,
.default .searchfield_e,
.default .searchfield_w,
.default .searchfield_c {
  position: absolute;
  height: 24px;
  background-repeat: no-repeat;
  background-image: #{this.getCssFilePath('searchfield_parts1.png')};
  #{BROWSER_TYPE.ie6?'font-size:0;line-height:0;':''}
}

.default .searchfield_fade {
  right: 0px; top: 0px; width: 10px;
  background-position: -48px 0px;
}

.default .searchfield_e {
  right: 0px; top: 0px; width: 24px; 
  background-position: -24px 0px;
}

.default .searchfield_c {
  left: 24px; right: 24px; top: 0px;
  background-repeat: repeat-x;
  background-position: 0px -24px;
}

.default .searchfield_w {
  left: 0px; top: 0px; width: 24px; 
  background-position: 0px 0px;
}

.default .disabled > .searchfield_fade {
  background-position: -48px -96px;
}

.default .disabled > .searchfield_e {
  background-position: -24px -96px;
}

.default .disabled > .searchfield_c {
  background-position: 0px -120px;
}

.default .disabled > .searchfield_w {
  background-position: 0px -96px;
}

.default .active > .searchfield_fade {
  background-position: -48px -48px;
}

.default .active > .searchfield_e {
  background-position: -24px -48px;
}

.default .active > .searchfield_c {
  background-position: 0px -72px;
}

.default .active > .searchfield_w {
  background-position: 0px -48px;
}

