.helmiTheme .calendarbutton {
  cursor: pointer;
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  text-align: center;
  display: block;
  white-space: nowrap;
  width: auto;
  padding: none;
  font-size: 11px;
  font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
  border-left:1px solid #C0C1C1;
  border-top:1px solid #C0C1C1;
}
.helmiTheme .calendarbutton .state {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  /*border: 1px solid #fff;*/
}
.helmiTheme .calendarbutton .bg {
  position: absolute;
  left: 1px; top: 2px; bottom: 0px;
  padding: 0px;
}

.helmiTheme .calendarbutton .on {
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  border: 1px solid #fff;
  background-color: #B7BABB;
  color: #FFF;
}

.helmiTheme .calendarbutton .off {
  color: #7F8182;
}

.helmiTheme .calendarbutton .shaded {
  color: #C0C1C1;
}
