.helmiTheme-stringview {
  color: #000000;
  padding: 1px;

  font-size: 11px;
  font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.helmiTheme-treenode .helmiTheme-stringview {
  cursor: default;
}

.helmiTheme-treenode .hovering .helmiTheme-stringview {
  background-color: #ffa51b;
}

.helmiTheme-treenode .selected .helmiTheme-stringview {
  background-color: #edefef;
}

