.minimizebutton {
  position: absolute;
  left: 0px; top: 0px; width: 16px; height: 16px;
  background-image: url('#{this.getThemeGfxPath()}mini-icons.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  cursor: pointer;
}
.minimizebutton:hover {
  background-image: url('#{this.getThemeGfxPath()}mini-icons.png');
  background-position: 0px -16px;
}
