.helmiTheme .button {
  cursor: pointer;
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  text-align: center;
  display: block;
  white-space: nowrap;
  width: auto;
  padding: 0;
}
.helmiTheme .button #border {
  position: absolute;
  background-color: #ccc;
  line-height: 1px;
  overflow: hidden;
}
.helmiTheme .button .state {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  border: 1px solid #fff;
  line-height: 0px;
  background-color: #f0f0f0;
}
.enabled .button .state {
  background-color: #fff;
}
.active > .button .state {
  background-color: #eee;
}
.helmiTheme .button .bg {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  padding: 1px;
}
.enabled .button #border {
  background-color: #aaa;
}
.active > .button #border {
  background-color: #fb9;
}
.helmiTheme .button .border-n {
  right: 1px; height: 1px;
  left: 1px; top: 0px;
}
.helmiTheme .button .border-s {
  right: 1px; bottom: 0px;
  left: 1px; height: 1px;
}
.helmiTheme .button .border-e {
  width: 1px; bottom: 1px;
  left: 0px; top: 1px;
}
.helmiTheme .button .border-w {
  right: 0px; bottom: 1px;
  width: 1px; top: 1px;
}
.helmiTheme .button .label {
  position: absolute;
  left: 1px; right: 1px;
  vertical-align: middle;
  border: 0;
  background-color: transparent;
  font-size: 11px;
  font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
  color: #666;
}
.enabled .button .label {
  color: #444;
}
.active > .button .label {
  color: #000;
}
.disabled .button {
  opacity: 0.75;
}
