.default > .calendar_pulldown {
  position: absolute; left: 0; top: 0; width: 24px; height: 24px;
  background-position: 0px 0px;
  cursor: pointer;
  font-size: 0;
  background-image: url(#{this.getThemeGfxFile('/calendar_pulldown.png')});
}
.default.disabled > .calendar_pulldown {
  opacity: 0.7;
}
.default.disabled:hover > .calendar_pulldown {
  background-position: 0px 0px;
}
.default.enabled:hover > .calendar_pulldown {
  background-position: 0px -24px;
}
