.helmiTheme .menuitem {
  cursor: pointer;
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  text-align: center;
  display: block;
  white-space: nowrap;
  width: auto;
  padding: 0;
}
.helmiTheme .menuitem #border {
  position: absolute;
  background-color: #ccc;
  line-height: 1px;
}
.helmiTheme .menuitem .state {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  border: 1px solid #fff;
  line-height: 0px;
  background-color: #f0f0f0;
}
.helmiTheme .menuitem .bg {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  padding: 1px;
}
.enabled .popupbutton #border {
  background-color: #aaa;
}
.active > .popupbutton #border {
  background-color: #fb9;
}
.helmiTheme .menuitem .border-n {
  right: 1px; height: 1px;
  left: 1px; top: 0px;
}
.helmiTheme .menuitem .border-s {
  right: 1px; bottom: 0px;
  left: 1px; height: 1px;
}
.helmiTheme .menuitem .border-e {
  width: 1px; bottom: 1px;
  left: 0px; top: 1px;
}
.helmiTheme .menuitem .border-w {
  right: 0px; bottom: 1px;
  width: 1px; top: 1px;
}
.helmiTheme .menuitem .label {
  position: absolute;
  left: 1px; right: 1px;
  vertical-align: middle;
  border: 0;
  background-color: transparent;
  font-size: 11px;
  font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
  color: #666;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  
}
.helmiTheme .menuitem .leftimage {
  position: absolute;
  left: 1px; top: 1px;
  width: 20px; height: 20px;
  
  border: 0;
  background-image: url('#{this.getThemeGfxPath()}unchecked.gif');
  background-repeat: no-repeat;
  
}
.helmiTheme .menuitem .rightimage {
  position: absolute;
  right: 1px; top: 2px;
  width: 20px; height: 20px;
  
  border: 0;

  
}
.helmiTheme .menuitem .leftimageOn {
  position: absolute;
  left: 1px; top: 1px;
  width: 20px; height: 20px;
  
  border: 0;
  background-image: url('#{this.getThemeGfxPath()}checked.gif');
  background-repeat: no-repeat;
  
}
.helmiTheme .menuitem .rightimageOn {
  position: absolute;
  right: 1px; top: 2px;
  width: 20px; height: 20px;
  
  border: 0;
  background-image: url('#{this.getThemeGfxPath()}arrowright.gif');
  background-repeat: no-repeat;
  
}

.enabled .menuitem .label {
  color: #444;
}
.active > .menuitem .label {
  color: #000;
}

.disabled .menuitem .label {
  color: #999;
}

