.timesheet_item,
.timesheet_item_middle,
.timesheet_item_label,
.timesheet_item_resize_top,
.timesheet_item_move,
.timesheet_item_resize_bottom {
  position: absolute;
  left: 0px; right: 0px;
}
.timesheet_item {
  top: 0px; bottom: 0px;
  border: 1px solid #c00;
  background-color: #c66;
  opacity: 0.75;
}
.active .timesheet_item {
  opacity: 1.0;
}
.timesheet_item_middle {
  top: 50%; height: 0px;
  overflow: visible;
}
.timesheet_item_label {
  top: -6px; height: 12px;
  font-size: 12px;
  text-align: center;
  color: #333;
  opacity: 1;
  font-family: Arial, sans-serif;
}
.timesheet_item_resize_top {
  top: 0px; height: 3px;
  cursor: n-resize;
}
.timesheet_item_move {
  top: 3px; bottom: 3px;
  cursor: move;
}
.timesheet_item_resize_bottom {
  bottom: 0px; height: 3px;
  cursor: s-resize;
}
