.default .textarea {
  cursor: pointer;
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  text-align: center;
  display: block;
  white-space: nowrap;
  width: auto;
  padding: 0;
}
.default .textarea .state {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  border: 1px solid #fff;
  line-height: 0px;
  background-color: #f0f0f0;
}
.default .textarea #corner {
  position: absolute; background-color: #fff;
  line-height: 1px; width:1px; height: 1px;
}
.default .textarea .bg {
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  padding: 1px;
  border: 1px solid #ccc;
}
.enabled .textarea #border {
  background-color: #aaa;
}
.active > .textarea #border {
  background-color: #fb9;
}
.default .textarea .corner {
  position: absolute; background-color: #fff;
  line-height: 1px; width:1px; height: 1px;
}
.default .textarea .corner-nw {
  left: 0px; top: 0px;
}
.default .textarea .corner-ne {
  right: 0px; top: 0px;
}
.default .textarea .corner-sw {
  left: 0px; bottom: 0px;
}
.default .textarea .corner-se {
  right: 0px; bottom: 0px;
}
.default .textarea .vertical-middle {
  position:absolute;
  left:0px;top:50%;right:0px;
}
.default .textarea textarea {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  border: 0;
  padding-left: 4px; padding-right: 4px;
  background-color: transparent;
  font-size: 11px;
  font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
  color: #666;
  #{BROWSER_TYPE.ff?'width: 98%; height: 98%;':''}
}

.disabled .textarea {
  opacity: 0.75;
}
