
.window_shadow,
.window_titlebar,
.window_titlebar_edge_left, 
.window_titlebar_center,
.window_titlebar_edge_right,
.window_bg,
.window_body,
.window_body_edge_left,
.window_body_edge_right,
.window_body_corner_left,
.window_body_corner_right,
.window_body_edge_bottom,
.window_label,
.window_controls,
.window_subview,
.window_controls_close,
.window_controls_collapse,
.window_controls_zoom {
  position: absolute;
  display: block;
  overflow: hidden;
  cursor: inherit;
  background-repeat: no-repeat;
}
.window_bg, .window_body {
  opacity: 0.95;
}
.window_titlebar {
  opacity: 0.97;
}
.inactive > .window_titlebar {
  opacity: 0.95;
}

.window_shadow {
  left: 4px; right: 4px; top: 4px; bottom: 4px;
  overflow: visible;
  -moz-box-shadow: 3px 3px 20px #333, 3px 3px 10px #000;
  -webkit-box-shadow: 3px 3px 20px #333, 3px 3px 10px #000;
  box-shadow: 3px 3px 20px #333, 3px 3px 10px #000;
}

.inactive > .window_shadow {
  -moz-box-shadow: 3px 3px 13px #333;
  -webkit-box-shadow: 3px 3px 13px #333;
  box-shadow: 3px 3px 13px #333;
}

.window_controls {
  cursor: pointer;
}

.window_titlebar {
  left: 0; top: 0; height: 24px; min-width: 96px; right: 0;
}

.window_titlebar * {
  background-image: #{this.getCssFilePath('window_parts1.png')};
}

.window_titlebar_edge_left {
  left: 0; top: 0; width: 24px; height: 24px;
  background-position: 0 0;
}

.inactive > .window_titlebar > .window_titlebar_edge_left {
  background-position: 0 -48px;
}

.window_titlebar_edge_right {
  right: 0; top: 0; width: 24px; height: 24px;
  background-position: -24px 0;
}

.inactive > .window_titlebar > .window_titlebar_edge_right {
  right: 0; top: 0; width: 24px; height: 24px;
  background-position: -24px -48px;
}

.window_titlebar_center {
  left: 24px; top: 0; right: 24px; height: 24px;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-image: #{this.getCssFilePath('window_parts2.png')};
}

.inactive > .window_titlebar > .window_titlebar_center {
  background-position: 0 -48px;
}

.window_bg {
  left: 24px; top: 24px; right: 24px; bottom: 24px;
  background-repeat: repeat;
  background-image: #{this.getCssFilePath('window_bg_active.png')};
}

.inactive > .window_bg {
  background-image: #{this.getCssFilePath('window_bg_inactive.png')};
}

.window_body {
  left: 0; top: 24px; right: 0; bottom: 0;
}

.window_body * {
  background-image: #{this.getCssFilePath('window_parts1.png')};
}

.window_body_edge_left {
  left: 0; top: 0; bottom: 24px; width: 24px;
  background-repeat: repeat-y;
  background-position: -72px 0;
}

.inactive > .window_body > .window_body_edge_left {
  background-position: -120px 0;
}

.window_body_edge_right {
  right: 0; top: 0; bottom: 24px; width: 24px;
  background-repeat: repeat-y;
  background-position: -96px 0;
}

.inactive > .window_body > .window_body_edge_right {
  background-position: -144px 0;
}

.window_body_corner_left {
  left: 0; bottom: 0; height: 24px; width: 24px;
  background-position: 0 -24px;
}
.inactive > .window_body > .window_body_corner_left {
  background-position: 0 -72px;
}

.window_body_corner_right {
  right: 0; bottom: 0; height: 24px; width: 24px;
  background-position: -24px -24px;
}

.inactive > .window_body > .window_body_corner_right {
  background-position: -24px -72px;
}

.window_body_edge_bottom {
  left: 24px; bottom: 0; right: 24px; height: 24px;
  background-repeat: repeat-x;
  background-position: 0 -24px;
  background-image: #{this.getCssFilePath('window_parts2.png')};
}

.inactive > .window_body > .window_body_edge_bottom {
  background-position: 0 -72px;
}

.window_label {
  left: 0; top: 0; right: 0; height: 24px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

.inactive > .window_label {
  color: #666;
}

.window_controls {
  left: 0; top: 0; right: 0; bottom: 0;
}

.window_subview {
  left: 2px; top: 24px; right: 2px; bottom: 2px;
}

.window_resize_se {
  position: absolute;
  right: 0; bottom: 0; width: 13px; height: 13px;
  cursor: se-resize;
  z-index: 10000;
  background-position: -59px -35px;
  font-size: 0;
  background-image: #{this.getCssFilePath('window_parts1.png')};
}

.inactive > .window_resize_se {
  background-position: -59px -83px;
}

.window_controls_close,
.window_controls_collapse,
.window_controls_zoom {
  top: 6px; width: 15px; height: 15px;
  background-image: #{this.getCssFilePath('window_buttons.png')};
}

.window_controls_close {
  #{BROWSER_TYPE.mac?'left':'right'}: 8px;
  background-position: 0 0;
}

.window_controls_close.disable_close {
  opacity: 0.3;
}

.window_controls:hover .window_controls_close.enable_close {
  background-position: 0 -15px;
}

.window_controls:hover .window_controls_close:active.enable_close {
  background-position: 0 -30px;
}


.window_controls_collapse {
  #{BROWSER_TYPE.mac?'left: 27px':'right: 46px'};
  background-position: -30px 0;
}

.window_controls_collapse.disable_collapse {
  opacity: 0.3;
}

.window_controls:hover .window_controls_collapse.enable_collapse {
  background-position: -30px -15px;
}

.window_controls:hover .window_controls_collapse:active.enable_collapse {
  background-position: -30px -30px;
}


.window_controls_zoom {
  #{BROWSER_TYPE.mac?'left: 46px':'right: 27px'};
  background-position: -15px 0;
}

.window_controls_zoom.disable_zoom {
  opacity: 0.3;
}

.window_controls:hover .window_controls_zoom.enable_zoom {
  background-position: -15px -15px;
}

.window_controls:hover .window_controls_zoom:active.enable_zoom  {
  background-position: -15px -30px;
}

