.timesheet_hours_col {
  position: absolute;
  top: 0px; left: 0px; width: 32px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #666;
  vertical-align: middle;
  text-align: right;
}
.timesheet_hours_row {
  position: absolute;
  left: 0px; width: 32px;
}
.timesheet_lines_col {
  position: absolute;
  top: 0px; left: 36px; right: 0px;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
.timesheet_lines_row0,
.timesheet_lines_row1 {
  position: absolute;
  left: 0px; right: 0px; height: 1px;
  line-height: 1px; font-size: 0px;
  background-color: #ccc;
}
.timesheet_lines_row0 {
  background-color: #aaa;
}
