.appitem {
  position: absolute;
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  font-size: 13px;
  cursor: pointer;
  text-align: right;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: #333;
  line-height: 19px;
 }
.appitem .hilite {
  position: absolute;
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  padding-right: 20px;
  border-bottom: 1px dotted #999;
}
.appitem:hover .hilite {
  background-color: #ccc;
}
.appitem .appdescr {
  position: absolute;
  left: 32px; top: 0px; right: 0px; bottom: 0px;
  line-height: 23px;
  text-align: left; vertical-align: middle;
}
.appitem .appicon {
  position: absolute;
  left: 6px; top: 1px; height: 21px; width: 21px;
}
