.default .validatorview_icon {
  position: absolute;
  background-image: url('#{this.getThemeGfxFile('validator.png')}');
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  display: block;
  white-space: nowrap;
  width: auto;
}

.default .enabled .validatorview_icon_invalid {
  position: absolute;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.default .enabled .validatorview_icon_valid {
  position: absolute;
  background-position: -21px 0px;
  background-repeat: no-repeat;
}

.default .disabled .validatorview_icon_invalid {
  position: absolute;
  background-position: 0px -21px;
  background-repeat: no-repeat;
}

.default .disabled .validatorview_icon_valid {
  position: absolute;
  background-position: -21px -21px;
  background-repeat: no-repeat;
}