.categoryitem {
  position: absolute;
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  font-size: 13px;
  cursor: pointer;
  text-align: right;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: #333;
  line-height: 23px;
 }
.categoryitem .hilite {
  position: absolute;
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  padding-right: 20px;
  border-bottom: 1px dotted #999;
}
.categoryitem:hover .hilite {
  background-color: #ccc;
}
.categoryitem .categoryname {
  position: absolute;
  left: 21px; top: 0px; right: 0px; bottom: 0px;
  text-align: left; vertical-align: middle;
}
.categoryitem .categorysize {
  position: absolute;
  right: 32px; top: 0px; bottom: 0px;
  text-align: right; vertical-align: middle;
}
