.helmiTheme-treecontrolframe {
  overflow: visible;
  padding: 1px;
  margin: 0px;
  background-color: #bdbec0;
  position: absolute;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
  width: 100%; height: 100%;
}
.helmiTheme-treecontrol {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100%;height: 100%;
  overflow: auto;
  cursor: default;
}

