.helmiTheme-treenode {
  margin: 0; padding: 0;
  min-height: 18px;
  list-style: none;
}
.helmiTheme-treenode ul {
  margin: 0;
  padding: 0 0 0 20px;
  display: none;
}

.helmiTheme-treenode .toggler {
  width: 9px;
  height: 9px;
  margin: 4px; 
  background-image: url('#{this.getThemeGfxPath()}treenode.png');
  background-position: -100px -100px;
  background-color: transparent;
  background-repeat: no-repeat;
  float: left;
  cursor: pointer;
}
.helmiTheme-treenode .toggler div {
  width: 9px;
  height: 9px;
}
.helmiTheme-treenode .content {
  height: 18px;
}

.helmiTheme-treenode .content:hover {background-color: #edefef}

.helmiTheme-treenode .collapsed {background-position: bottom left}
.helmiTheme-treenode .expanded {background-position: top left}
.helmiTheme-treenode .collapsed:hover {background-position: bottom right}
.helmiTheme-treenode .expanded:hover {background-position: top right}

