.radiobutton_control,
.radiobutton_state,
.radiobutton_label,
.radiobutton_antiselect {
  position: absolute; height: 24px;
}
.radiobutton_control {
  left: 0px; top: 0px; right: 0px;
  cursor: pointer;
}
.disabled > .radiobutton_control {
  cursor: default;
}
.radiobutton_state {
  left: 0px; top: 0px; width: 24px;
  background-repeat: no-repeat;
  background-position: -24px 0px;
  background-image: #{this.getCssFilePath('radiobutton_parts1.png')};
}

.enabled > .unchecked > .radiobutton_state {
  background-position: -24px 0px;
}
.enabled > .unchecked:hover > .radiobutton_state {
  background-position: -24px -24px;
}
.enabled > .unchecked:active > .radiobutton_state {
  background-position: -24px -48px;
}

.enabled > .checked > .radiobutton_state {
  background-position: 0px 0px;
}
.enabled > .checked:hover > .radiobutton_state {
  background-position: 0px -24px;
}
.enabled > .checked:active > .radiobutton_state {
  background-position: 0px -48px;
}

.disabled > .unchecked > .radiobutton_state {
  background-position: -24px -72px;
}
.disabled > .checked > .radiobutton_state {
  background-position: 0px -72px;
}

.radiobutton_label {
  left: 24px; right: 0px; top: 0px;
  height: 20px; line-height: 24px;
  text-align: left; vertical-align: middle;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #333;
}
.disabled > .radiobutton_control > .radiobutton_label {
  color: #999;
}
.enabled > .radiobutton_control:hover > .radiobutton_label {
  color: #000;
}
.enabled > .radiobutton_control:active > .radiobutton_label {
  color: #000;
}

.radiobutton_antiselect {
  left: 0px; top: 0px; right: 0px;
}

