.simple .radiobutton .label {
    position: absolute;
    top: 0px; bottom: 0px;
    margin-top: auto; margin-bottom: auto;
    font-family: sans-serif;
    font-size:   13px;
    text-align:  left;
    vertical-align: middle;
    white-space: nowrap;
}
.simple .radiobutton .icon {
    position: absolute;
    left: 0px; top: 0px;
    bottom: 0px;
    border: 1px solid #000;
}

.simple .radiobutton .icon span {
  display: block;
  width: 100%;
  text-align: center;
}
  
.simple .radiobutton .on span {
  visibility: inherit;
}

.simple .radiobutton .off span {
  visibility: hidden;
}
