
.simple .bg {
  position: absolute;
  border: solid 1px black;
  top: 0px; bottom: 0px;
  left: 40%; right: 40%;
  width: 20%;
  background-color: #606060;
} 

.simple .knob {
  position: absolute;
  border: solid 1px black;
  left: 20%; right: 20%;
  width: 60%; height: 5%;
  background-color: #0033cc;
}