
.textcontrol_input {
  position: absolute;
  display: block;
  left: -2px; top: -2px;
  right: -2px; bottom: -2px;
  background-color: transparent;
  vertical-align: middle;
  padding-left: 4px;
  padding-top: 2px;
  border: 0px transparent solid;
  #{(BROWSER_TYPE.firefox||BROWSER_TYPE.firefox3)?'width: 100%; height: 100%; line-height: 100%;':''}
}

.textcontrol_bg {
  position: absolute;
  left: 2px; top: 2px; right: 2px; bottom: 2px;
  background-color: #fff;
}



.textcontrol_ne, .textcontrol_nw, .textcontrol_se, .textcontrol_sw {
  position: absolute;
  width: 7px; height: 7px;
  background-repeat: no-repeat;
  background-image: #{this.getCssFilePath('textcontrol_parts1.png')};
}

.textcontrol_nw {
  left: 0px; top: 0px;
  background-position: 0px 0px;
}

.textcontrol_ne {
  right: 0px; top: 0px;
  background-position: -7px 0px;
}

.textcontrol_sw {
  left: 0px; bottom: 0px;
  background-position: 0px -7px;
}

.textcontrol_se {
  right: 0px; bottom: 0px;
  background-position: -7px -7px;
}



.textcontrol_w, .textcontrol_e {
  position: absolute;
  width: 7px; top: 7px; bottom: 7px;
  background-repeat: repeat-y;
  background-image: #{this.getCssFilePath('textcontrol_parts3.png')};
}

.textcontrol_w {
  left: 0px;
  background-position: 0px 0px;
}

.textcontrol_e {
  right: 0px;
  background-position: -7px 0px;
}



.textcontrol_n, .textcontrol_s {
  position: absolute;
  height: 7px; left: 7px; right: 7px;
  background-repeat: repeat-x;
  background-image: #{this.getCssFilePath('textcontrol_parts2.png')};
}

.textcontrol_n {
  top: 0px;
  background-position: 0px 0px;
}

.textcontrol_s {
  bottom: 0px;
  background-position: 0px -7px;
}



