.vslider_track_top,
.vslider_track_bottom,
.vslider_track {
  position: absolute;
  width: 7px; left: 7px;
  background-image: #{this.getCssFilePath('vslider_tracks.png')};
}

.vslider_track_top {
  top: 10px; height: 4px;
  background-position: 0px 0px;
}

.vslider_track_bottom {
  bottom: 10px; height: 4px;
  background-position: 0px -4px;
}

.vslider_track {
  top: 14px; bottom: 14px;
  background-position: -14px 0px;
}

.disabled .vslider_track_top {
  background-position: -7px 0px;
}

.disabled .vslider_track_bottom {
  background-position: -7px -4px;
}

.disabled .vslider_track {
  background-position: -21px 0px;
}

.vslider_thumb {
  position: absolute;
  top: 33%; left: 0px; width: 21px; height: 21px;
  background-position: 0px 0px;
  background-image: #{this.getCssFilePath('slider_thumbs.png')};
}

.vslider_thumb:active {
  background-position: 0px -22px;
}

.disabled .vslider_thumb {
  background-position: 0px -44px;
}

