.checkbox_control,
.checkbox_state,
.checkbox_label,
.checkbox_antiselect {
  position: absolute; height: 24px;
}
.checkbox_control {
  left: 0px; top: 0px; right: 0px;
  cursor: pointer;
}
#{BROWSER_TYPE.ie6?'.disabled .checkbox_control':'.disabled > .checkbox_control'} {
  cursor: default;
}
.checkbox_state {
  left: 0px; top: 0px; width: 24px;
  background-repeat: no-repeat;
  background-position: -24px 0px;
  background-image: #{this.getCssFilePath('checkbox_parts1.png')};
}

#{BROWSER_TYPE.ie6?'.enabled .unchecked .checkbox_state':'.enabled > .unchecked > .checkbox_state'} {
  background-position: -24px 0px;
}
#{BROWSER_TYPE.ie6?'.enabled .unchecked:hover .checkbox_state':'.enabled > .unchecked:hover > .checkbox_state'} {
  background-position: -24px -24px;
}
#{BROWSER_TYPE.ie6?'.enabled .unchecked:active .checkbox_state':'.enabled > .unchecked:active > .checkbox_state'} {
  background-position: -24px -48px;
}

#{BROWSER_TYPE.ie6?'.enabled .checked .checkbox_state':'.enabled > .checked > .checkbox_state'} {
  background-position: 0px 0px;
}
#{BROWSER_TYPE.ie6?'.enabled .checked:hover .checkbox_state':'.enabled > .checked:hover > .checkbox_state'} {
  background-position: 0px -24px;
}
#{BROWSER_TYPE.ie6?'.enabled .checked:active .checkbox_state':'.enabled > .checked:active > .checkbox_state'} {
  background-position: 0px -48px;
}

#{BROWSER_TYPE.ie6?'.disabled .unchecked .checkbox_state':'.disabled > .unchecked > .checkbox_state'} {
  background-position: -24px -72px;
}
#{BROWSER_TYPE.ie6?'.disabled .checked .checkbox_state':'.disabled > .checked > .checkbox_state'} {
  background-position: 0px -72px;
}

.checkbox_label {
  left: 24px; right: 0px; top: 2px;
  height: 20px; line-height: 21px;
  text-align: left; vertical-align: middle;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #333;
}
#{BROWSER_TYPE.ie6?'.disabled .checkbox_control .checkbox_label':'.disabled > .checkbox_control > .checkbox_label'} {
  color: #999;
}
#{BROWSER_TYPE.ie6?'.enabled .checkbox_control:hover .checkbox_label':'.enabled > .checkbox_control:hover > .checkbox_label'} {
  color: #000;
}
#{BROWSER_TYPE.ie6?'.enabled .checkbox_control:active .checkbox_label':'.enabled > .checkbox_control:active > .checkbox_label'} {
  color: #000;
}

.checkbox_antiselect {
  left: 0px; top: 0px; right: 0px;
}

