  
.helmiTheme-slider {
  cursor: pointer;
  position: absolute;
  left: 0px; right: 0px; bottom: 0px; top: 0px; width: 100%; height: 100%;
  display: block;
  padding: 0;
} 
.helmiTheme-slider .bg {
  position: absolute;
  top: 0px;
  left: 7px; right:7px;
  height: 15px;
  background-image: url('#{this.getThemeGfxPath()}slider.gif');
  background-position: 0px 15px;
} 
.helmiTheme-slider .bgRight {
  position: absolute;
  top: 0px;
  right: 0px; width:7px;
  height: 15px;
  background-image: url('#{this.getThemeGfxPath()}slider.gif');
  background-position: 7px 0px;
} 
.helmiTheme-slider .bgLeft {
  position: absolute;
  top: 0px;
  left: 0px; width:7px;
  height: 15px;
  background-image: url('#{this.getThemeGfxPath()}slider.gif');
  background-position: 15px 0px;
} 
.helmiTheme-slider .knob {
  position: absolute;
/*  margin: -1px;
  border: 1px solid black;*/
  left: 33%; top: 0px;
  width: 15px; height: 15px;
  background-image: url('#{this.getThemeGfxPath()}slider.gif');
  background-position: 0px 0px;
} 
  
