.vslider_track_top,
.vslider_track_bottom,
.vslider_track {
  position: absolute;
  width: 7px; left: 7px;
  font-size: 0;
  background-image: #{this.getCssFilePath('vslider_tracks.png')};
}

.vslider_track_top {
  top: 10px; height: 4px;
  background-position: 0 0;
}

.vslider_track_bottom {
  bottom: 10px; height: 4px;
  background-position: 0 -4px;
}

.vslider_track {
  top: 14px; bottom: 14px;
  background-position: -14px 0;
}

.disabled .vslider_track_top {
  background-position: -7px 0;
}

.disabled .vslider_track_bottom {
  background-position: -7px -4px;
}

.disabled .vslider_track {
  background-position: -21px 0;
}

.vslider_thumb {
  position: absolute;
  font-size: 0px;
  left: 0; width: 21px; height: 21px;
  background-position: 0 0;
  background-image: #{this.getCssFilePath('slider_thumbs.png')};
}

.vslider_thumb:active {
  background-position: 0 -22px;
}

.disabled .vslider_thumb {
  background-position: 0 -44px;
}

.vslider_thumb_e,
.vslider_thumb_w {
  position: absolute;
  top: 0; height: 21px; width: 21px;
  background-image: #{this.getCssFilePath('slider_thumbs.png')};
}

.vslider_thumb_e,
.vslider_thumb_w {
  left: 0;
}

.vslider_thumb_w {
 background-position: -66px 0;
}
.vslider_thumb_w:active {
 background-position: -66px -22px;
}
.disabled .vslider_thumb_w {
 background-position: -66px -44px;
}

.vslider_thumb_e {
 background-position: -88px 0;
}
.vslider_thumb_e:active {
 background-position: -88px -22px;
}
.disabled .vslider_thumb_e {
 background-position: -88px -44px;
}


