.window_titlebar,
.window_titlebar_edge_left, 
.window_titlebar_center,
.window_titlebar_edge_right,
.window_bg,
.window_body,
.window_body_edge_left,
.window_body_edge_right,
.window_body_corner_left,
.window_body_corner_right,
.window_body_edge_bottom,
.window_label,
.window_controls,
.window_subview {
  position: absolute;
  display: block;
  overflow: hidden;
  cursor: default;
  background-repeat: no-repeat;
}

.window_controls * {
  cursor: pointer;
}

.window_titlebar {
  left: 0px; top: 0px; height: 24px; min-width: 96px; right: 0px;
}

.window_titlebar * {
  background-image: #{this.getCssFilePath('window_parts1.png')};
}

.window_titlebar_edge_left {
  left: 0px; top: 0px; width: 24px; height: 24px;
  background-position: 0px 0px;
}

.inactive .window_titlebar_edge_left {
  background-position: 0px -48px;
}

.window_titlebar_edge_right {
  right: 0px; top: 0px; width: 24px; height: 24px;
  background-position: -24px 0px;
}

.inactive .window_titlebar_edge_right {
  right: 0px; top: 0px; width: 24px; height: 24px;
  background-position: -24px -48px;
}

.window_titlebar_center {
  left: 24px; top: 0px; right: 24px; height: 24px;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-image: #{this.getCssFilePath('window_parts2.png')};
}

.inactive .window_titlebar_center {
  background-position: 0px -48px;
}

.window_bg {
  left: 24px; top: 24px; right: 24px; bottom: 24px;
  background-color: #e7e7e7;
}

.window_body {
  left: 0px; top: 24px; right: 0px; bottom: 0px;
}

.window_body * {
  background-image: #{this.getCssFilePath('window_parts1.png')};
}

.window_body_edge_left {
  left: 0px; top: 0px; bottom: 24px; width: 24px;
  background-repeat: repeat-y;
  background-position: -72px 0px;
}

.inactive .window_body_edge_left {
  background-position: -120px 0px;
}

.window_body_edge_right {
  right: 0px; top: 0px; bottom: 24px; width: 24px;
  background-repeat: repeat-y;
  background-position: -96px 0px;
}

.inactive .window_body_edge_right {
  background-position: -144px 0px;
}

.window_body_corner_left {
  left: 0px; bottom: 0px; height: 24px; width: 24px;
  background-position: 0px -24px;
}
.inactive .window_body_corner_left {
  background-position: 0px -72px;
}

.window_body_corner_right {
  right: 0px; bottom: 0px; height: 24px; width: 24px;
  background-position: -24px -24px;
}

.inactive .window_body_corner_right {
  background-position: -24px -72px;
}

.window_body_edge_bottom {
  left: 24px; bottom: 0px; right: 24px; height: 24px;
  background-repeat: repeat-x;
  background-position: 0px -24px;
  background-image: #{this.getCssFilePath('window_parts2.png')};
}

.inactive .window_body_edge_bottom {
  background-position: 0px -72px;
}

.window_label {
  left: 0px; top: 0px; right: 0px; height: 24px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

.inactive .window_label {
  color: #666;
}

.window_controls {
  left: 0px; top: 0px; right: 0px; bottom: 0px;
}

.window_subview {
  left: 2px; top: 26px; right: 2px; bottom: 2px;
}

.window_resize {
  right: 0px; bottom: 0px; width: 16px; height: 16px;
  cursor: sw-resize;
}


