
.tictactoe {
  cursor: pointer;
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  text-align: center;
  display: block;
  white-space: nowrap;
  width: auto;
  padding: none;
}
.tictactoe .state {
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  border: 1px solid lightgrey;
  background-color: transparent;
}

.tictactoe .bg {
  position: absolute;
  left: 1px; top: 2px; bottom: 0px;
  padding: 0px;
}

.enabled .tictactoe .state {
  background-color: transparent;
}

/*
.active .tictactoe .state {
  background-color: #eee;
}
*/

.disabled .tictactoe .state {
  background-color: #eee;
  opacity: 0.5;
}