
.default .textcontrol_input {
  position: absolute;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #000;
  background-color: transparent;
  vertical-align: middle;
  border: 0px;
  left: 0px; top: 0px;
  #{(BROWSER_TYPE.firefox||BROWSER_TYPE.ie7||BROWSER_TYPE.ie8||BROWSER_TYPE.opera)?'padding-left:2px;width:100% !important;height:90% !important;':BROWSER_TYPE.ie6?'right:4px;bottom:2px;':'padding:2px;right:0px;bottom:0px;width:auto;height:auto;'}
}

.default .disabled .textcontrol_input {
  color: #ccc;
}

.default .textcontrol_input_parent {
  position: absolute;
  #{(BROWSER_TYPE.firefox||BROWSER_TYPE.ie7||BROWSER_TYPE.ie8||BROWSER_TYPE.ie9||BROWSER_TYPE.opera)?'left:0;padding-left:1px;top:0;right:4px;bottom:0;':BROWSER_TYPE.ie6?'left:2px;top:1px;right:1px;bottom:1px;':'left:-2px;top:-2px;right:-2px;bottom:-2px;'}
}

.default .textcontrol_bg {
  position: absolute;
  left: 2px; top: 2px; right: 2px; bottom: 2px;
  background-color: #fff;
  #{BROWSER_TYPE.ie6?'font-size:0;line-height:0;':''}
}

.default .disabled .textcontrol_bg {
  background-color: #eee;
}


.default .textcontrol_ne,
.default .textcontrol_nw,
.default .textcontrol_se,
.default .textcontrol_sw {
  position: absolute;
  width: 7px; height: 7px;
  background-repeat: no-repeat;
  background-image: #{this.getCssFilePath('textcontrol_parts1.png')};
  #{BROWSER_TYPE.ie6?'font-size:0;line-height:0;':''}
}

.default .textcontrol_nw {
  left: 0px; top: 0px;
  background-position: 0px 0px;
}

.default .textcontrol_ne {
  right: 0px; top: 0px;
  background-position: -7px 0px;
}

.default .textcontrol_sw {
  left: 0px; bottom: 0px;
  background-position: 0px -7px;
}

.default .textcontrol_se {
  right: 0px; bottom: 0px;
  background-position: -7px -7px;
}



.default .textcontrol_w,
.default .textcontrol_e {
  position: absolute;
  width: 7px; top: 7px; bottom: 7px;
  background-repeat: repeat-y;
  background-image: #{this.getCssFilePath('textcontrol_parts3.png')};
  #{BROWSER_TYPE.ie6?'font-size:0;line-height:0;':''}
}

.default .textcontrol_w {
  left: 0px;
  background-position: 0px 0px;
}

.default .textcontrol_e {
  right: 0px;
  background-position: -7px 0px;
}



.default .textcontrol_n,
.default .textcontrol_s {
  position: absolute;
  height: 7px; left: 7px; right: 7px;
  background-repeat: repeat-x;
  background-image: #{this.getCssFilePath('textcontrol_parts2.png')};
  #{BROWSER_TYPE.ie6?'font-size:0;line-height:0;':''}
}

.default .textcontrol_n {
  top: 0px;
  background-position: 0px 0px;
}

.default .textcontrol_s {
  bottom: 0px;
  background-position: 0px -7px;
}



