.default > .speechbubble,
.default > .speechbubble > .subview,
/*.default > .speechbubble > .text,*/
.default > .speechbubble > .direction_inner,
.default > .speechbubble > .direction_inner2,
.default > .speechbubble > .direction {
  position: absolute;
}
.default > .speechbubble {
  top: 0; bottom: 0;
  overflow: visible;
  border: 2px solid #333; border-radius: 9px;
}
.default.orientation_left > .speechbubble {
  left: 16px; right: 0;
  border-bottom-left-radius: 0;
}
.default.orientation_right > .speechbubble {
  right: 16px; left: 0;
  border-bottom-right-radius: 0;
}

.default > .speechbubble > .text {
  padding-left: 6px; padding-top: 3px; padding-bottom: 3px; padding-right: 6px;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  font-size: 12px; font-weight: bold;
  color: #333;
}
/*.default.orientation_left > .speechbubble > .text {
  left: 0;
}
.default.orientation_left > .speechbubble > .text {
  right: 0;
}
.default.orientation_left > .speechbubble {
  text-align: left;
}
.default.orientation_right > .speechbubble {
  text-align: right;
}*/
.default > .speechbubble > .subview {
  left: 0; top: 0; right: 0; bottom: 0;
}
.default > .speechbubble > .direction {
  width: 0; height: 0;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}
.default.orientation_left > .speechbubble > .direction {
  left: -16px; bottom: -2px;
  border-width: 0 0 16px 16px; /* top, right, bottom, left */
}
.default.orientation_right > .speechbubble > .direction {
  right: -16px; bottom: -2px;
  border-width: 0 16px 16px 0;
}
.default > .speechbubble > .direction_inner {
  width: 0; height: 0; bottom: 0;
  border-style: solid;
  border-color: transparent transparent #e0e0e0 transparent;
}
.default.orientation_left > .speechbubble > .direction_inner {
  left: -11px;
  border-width: 0 0 11px 11px;
}
.default.orientation_right > .speechbubble > .direction_inner {
  right: -11px;
  border-width: 0 11px 11px 0;
}
.default > .speechbubble > .direction_inner2 {
  bottom: 0;
  width: 0; height: 0;
  border-style: solid;
  border-color: transparent transparent #efefef transparent;
}
.default.orientation_left > .speechbubble > .direction_inner2 {
  left: -11px; 
  border-width: 0 0 4px 11px;
}
.default.orientation_right > .speechbubble > .direction_inner2 {
  right: -11px; 
  border-width: 0 11px 4px 0;
}
