
.minimenu_control,
.minimenu_edge_left,
.minimenu_center,
.minimenu_edge_right,
.minimenu_label,
.minimenu_antiselect {
  position: absolute;
  top: 0px; height: 15px;
}

.minimenu_control {
  left: 0px; right: 0px;
  cursor: pointer;
}
.disabled .minimenu_control {
  cursor: default;
}

.minimenu_edge_left,
.minimenu_center,
.minimenu_edge_right {
  background-image: #{this.getCssFilePath('minimenu.png')};
}

.minimenu_edge_left {
  left: 0px; width: 7px;
  background-position: 0px 0px;
}

.minimenu_edge_right {
  right: 0px; width: 13px;
  background-position: -7px 0px;
}

.minimenu_center {
  left: 7px; right: 13px;
  background-position: 0px -15px;
  background-repeat: repeat-x;
}

.minimenu_label {
  left: 6px; right: 11px; top: 0px;
  height: 15px; line-height: 15px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #333;
}
.minimenu_control:hover > .minimenu_label {
  color: #000;
}
.disabled .minimenu_control {
  opacity: 0.8;
}

.minimenu_antiselect {
  left: 0px; right: 0px;
}
