
.menuitem_control,
.menuitem_label,
.menuitem_state {
  position: absolute;
  top: 0px; height: 24px;
}

.menuitem_control {
  left: 0px; right: 0px;
  cursor: pointer;
}
.menuitem_control:hover {
  background-color: #fff;
}

.menuitem_state {
  left: 4px; top: 7px; height: 12px; width: 12px;
  background-image: #{this.getCssFilePath('minimenuitem_checkmark.png')};
}
.checked .menuitem_state {
  visibility: inherit;
}
.unchecked .menuitem_state {
  visibility: hidden;
}

.menuitem_label {
  left: 20px; right: 11px; top: 0px;
  height: 24px; line-height: 24px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #333;
}
.menuitem_label:hover {
  color: #000;
}
.disabled .menuitem_control {
  opacity: 0.8;
}
