.calendar_control {
  position: absolute;
  left: 0px; top: 0px; right: 0px; bottom: 0px;
}
.calendar_head {
  position: absolute;
  left: 0px; top: 0px; right: 0px; height: 20px;
}
.calendar_head_prev_month,
.calendar_head_next_month {
  position: absolute;
  top: 2px; width: 16px; height: 16px;
  font-size: 0; line-height: 0;
  cursor: pointer;
  background-image: #{this.getCssFilePath('calendar_arrows.png')};
}
.calendar_head_prev_month {
  background-position: 0px 0px;
  left: 2px;
}
.calendar_head_next_month {
  background-position: -16px 0px;
  right: 2px;
}
.calendar_head_prev_month:hover {
  background-position: 0px -16px;
}
.calendar_head_next_month:hover {
  background-position: -16px -16px;
}
.calendar_head_prev_month:active,
.calendar_head_next_month:active {
  background-color: #fff;
}
.calender_head_month_year {
  position: absolute;
  top: 0px; left: 20px; right: 20px; height: 20px;
  color: #000;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
}
.calendar_weekdays {
  position: absolute;
  top: 20px; left: 0px; right: 0px; height: 15px;
}
.calendar_weekdays div {
  position: absolute;
  top: 0px; height: 15px; width: 25px;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 11px;
  line-height: 16px;
  vertical-align: middle;
  text-align: center;
}
.calendar_weeks {
  position: absolute;
  top: 34px; left: 0px; right: 2px; bottom: 2px;
}
.calendar_weeks_week_row {
  position: absolute;
  left: 0px; right: 0px;
}
.calendar_weeks_week_col_no,
.calendar_weeks_week_col_sel,
.calendar_weeks_week_col_wk,
.calendar_weeks_week_col_yes,
.calendar_weeks_week_col_today {
  position: absolute;
  text-decoration: none;
  top: 0px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.calendar_weeks_week_col_wk {
  color: #000;
  cursor: default;
}
.calendar_weeks_week_col_no {
  color: #666;
}
.enabled > .calendar_control > .calendar_weeks > .calendar_weeks_week_row > .calendar_weeks_week_col_no:hover {
  color: #000;
}
.calendar_weeks_week_col_yes,
.calendar_weeks_week_col_sel {
  color: #000;
  background-color: #ddd;
  font-weight: normal;
  border: 1px solid #666;
}
.calendar_weeks_week_col_sel {
  background-color: #fff;
}
.calendar_weeks_week_col_today {
  font-weight: bold;
  color: #F00;
}
.enabled > .calendar_control > .calendar_weeks > .calendar_weeks_week_row > .calendar_weeks_week_col_yes:hover {
  border: 2px solid black; margin: -1px; z-index: 100; border-radius: 3px;
}
.calendar_bg {
  position: absolute;
  left: -1px; right: -1px;
  top: -1px; bottom: -2px;
}
.calendar_bg * {
  position: absolute;
  font-size: 0; line-height: 0; /* ie bug work-arounds */
}
.disabled > .calendar_bg *,
.disabled > .calendar_control * {
  opacity: 0.8;
}
.calendar_bg .calendar_nw,
.calendar_bg .calendar_n,
.calendar_bg .calendar_ne,
.calendar_bg .calendar_sw,
.calendar_bg .calendar_s,
.calendar_bg .calendar_se {
  height: 12px;
  background-image: #{this.getCssFilePath('calendar_parts1.png')};
}
.calendar_bg .calendar_c {
  left: 12px; right: 12px; top: 12px; bottom: 12px;
  background-color: #fbfafb;
/*  background-image: #{this.getCssFilePath('calendar_bg.png')};*/
}
.calendar_bg .calendar_w,
.calendar_bg .calendar_e {
  top: 12px; bottom: 12px;
  width: 12px;
  background-image: #{this.getCssFilePath('calendar_parts2.png')};
}
.calendar_bg .calendar_n,
.calendar_bg .calendar_s {
  left: 12px; right: 12px;
}
.calendar_bg .calendar_nw,
.calendar_bg .calendar_ne,
.calendar_bg .calendar_sw,
.calendar_bg .calendar_se {
  width: 12px;
}
.calendar_bg .calendar_nw,
.calendar_bg .calendar_n,
.calendar_bg .calendar_ne {
  top: 0px;
}
.calendar_bg .calendar_sw,
.calendar_bg .calendar_s,
.calendar_bg .calendar_se {
  bottom: 0px;
}
.calendar_bg .calendar_nw,
.calendar_bg .calendar_w,
.calendar_bg .calendar_sw {
  left: 0px;
}
.calendar_bg .calendar_ne,
.calendar_bg .calendar_e,
.calendar_bg .calendar_se {
  right: 0px;
}
.calendar_bg .calendar_nw {
  background-position: 0px 0px;
}
.calendar_bg .calendar_n {
  background-position: 0px -24px;
}
.calendar_bg .calendar_ne {
  background-position: -12px 0px;
}
.calendar_bg .calendar_sw {
  background-position: 0px -12px;
}
.calendar_bg .calendar_s {
  background-position: 0px -36px;
}
.calendar_bg .calendar_se {
  background-position: -12px -12px;
}
.calendar_bg .calendar_w {
  background-position: 0px 0px;
}
.calendar_bg .calendar_e {
  background-position: -12px 0px;
}


