.calendar_control {
  position: absolute;
  left: 0px; top: 0px; right: 1px; bottom: 1px;
  border: 1px solid #999;
}
.calendar_head {
  position: absolute;
  left: 0px; top: 0px; right: 0px; height: 20px;
}
.calendar_head_prev_month,
.calendar_head_next_month {
  position: absolute;
  top: 2px; width: 16px; height: 16px;
  font-size: 0; line-height: 0;
  cursor: pointer;
  background-image: #{this.getCssFilePath('calendar_arrows.png')};
}
.calendar_head_prev_month {
  background-position: 0px 0px;
  left: 2px;
}
.calendar_head_next_month {
  background-position: -16px 0px;
  right: 2px;
}
.calendar_head_prev_month:hover {
  background-position: 0px -16px;
}
.calendar_head_next_month:hover {
  background-position: -16px -16px;
}
.calendar_head_prev_month:active,
.calendar_head_next_month:active {
  background-color: #fff;
}
.calender_head_month_year {
  position: absolute;
  top: 0px; left: 20px; right: 20px; height: 20px;
  color: #000;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
}
.calendar_weekdays {
  position: absolute;
  top: 20px; left: 0px; right: 0px; height: 15px;
}
.calendar_weekdays div {
  position: absolute;
  top: 0px; height: 15px; width: 25px;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 11px;
  line-height: 16px;
  vertical-align: middle;
  text-align: center;
}
.calendar_weeks {
  position: absolute;
  top: 34px; left: 0px; right: 2px; bottom: 2px;
}
.calendar_weeks_week_row {
  position: absolute;
  left: 0px; right: 0px;
}
.calendar_weeks_week_col_no,
.calendar_weeks_week_col_sel,
.calendar_weeks_week_col_wk,
.calendar_weeks_week_col_yes {
  position: absolute;
  text-decoration: none;
  top: 0px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.calendar_weeks_week_col_wk {
  color: #000;
  cursor: default;
}
.calendar_weeks_week_col_no {
  color: #666;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
}
.calendar_weeks_week_col_no:hover {
  background-color: #fff;
  color: #000;
}
.calendar_weeks_week_col_yes,
.calendar_weeks_week_col_sel {
  color: #000;
  background-color: #ddd;
  font-weight: bold;
  border-left: 1px solid #666;
  border-top: 1px solid #666;
}
.calendar_weeks_week_col_sel,
.calendar_weeks_week_col_yes:hover {
  background-color: #fff;
}

